div(class="item")
  div(class="itemGeneral boundaryX")
    em 今天
    a(href="javascript:void(0)") 操作
  div(class="itemDetail boundaryX open")
    div(class="subItemMenu")
      em 详情
    div(class="subItemTitle")
      em 产品名称
      strong 收益
    div(class="subItemCont")
      div(class="subItem boundaryX")
        em 铜宝
        strong 16.9
      div(class="subItem boundaryX")
        em 铜票盈314期
        strong 16.9
      div(class="subItem")
        em 一铜天下234期
        strong 16.9strong