body
  margin 0
  padding 0
.main
  margin-top 100px
.navbar-header .active,.navbar-header .active:hover
  color #fff
  background-color #080808
@media (min-width: 576px)
  .dialog
    max-width 500px
    margin 8rem auto 0 auto

.login-success
  margin-top 100px
  
    