@import './base/reset'
@import './base/tools'
@import './base/effect'

.item
  setLoading()
  setTransition()
  setModel(,200px,100px,0,5px,,,,1px solid #ffff00)
  setStylus(#ff0000,#333,center,middle)