body{background-color:#eeeeee;}
.main h1{text-align:center;}
.main h1 img{max-width:100%;}
.main ul{padding:0px 15px;}
.main ul li{margin-bottom:22px;display:block;text-align:center;}
.main ul li h2{background-color:#000;}
.main ul li h2 p{height:35px;line-height:35px;color:#fff;margin:0px 12px;}
.main ul li h2 p span{color:#fff;}
.main ul li h2 p:nth-child(1){border-bottom:1px solid #fff;}
.main ul li h2 p:nth-child(2) span{margin:0 5px;}
.main ul li img{max-width:100%;margin-top:7px;}